#bar-example-17 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #bar-example-17 {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
  